.applications{
    border: 1px solid rgb(188, 188, 188);
    box-shadow:  0px 0px 3px -2px black;
 
    max-height: 100vh;
    width: 1090px;
}
#table{
   
}
@media screen and (max-width: 768px) {
.applications{
    display: none;
}
}
@media screen and (min-width: 768px) {

.toBeHide{
display: none;
}
}
.check{
background: #078edd;
    font-size: 16px;
    color: lightgreen;
    font-weight: bolder;

}
.check:hover{
    color: greenyellow;
}
.reject{
    background: #078edd;
    font-size: 16px;
    color: red;

    font-weight: bolder;
}
.reject:hover{
    color: rgb(224, 115, 115);
}